<div class="row">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid justify-content-start" style="align-content: center">
            <div class="col-lg-2">
                <button class="btn btn-outline-light m-2" type="button" href="/home">HOME</button>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-outline-light m-2" type="button" href="/logout">Logout</button>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-outline-light m-2" type="button">Add Order</button>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-outline-light m-2" type="button">Assign Role</button>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-outline-light m-2" type="button">Add User</button>
            </div>
            <div class="col-lg-2">
                <form
                        th:method="POST"
                        th:action="@{/logout}">
                    <input type="submit" class="btn btn-outline-light m-2" value="Logout"/>
                </form>
            </div>
        </div>
    </nav>
</div>