<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="col-lg-4 mx-auto">
    <div th:if="${lowQuantity}" class="alert alert-danger w-50 text-center fw-bold" role="alert">
        <h5>Insufficient stock!</h5>
    </div>
</div>
<div class="col-lg-4 mx-auto">
    <div th:if="${shipped}" class="alert alert-success w-50 text-center fw-bold" role="alert">
        <h5>Successfully shipped order!</h5>
    </div>
</div>
<table sec:authorize="hasRole('OSB')" class="table table-hover caption-top w-75" th:align="center"
       xmlns:sec="http://www.w3.org/1999/xhtml">
    <caption style="color: black"><h3>All active orders</h3></caption>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Order number</th>
        <th scope="col">Customer</th>
        <th scope="col">Sum</th>
    </tr>
    </thead>
    <tbody id="allOrdersTable">
    <tr th:each="order : ${orders}">
        <td th:text="${orders.indexOf(order) + 1}"></td>
        <td th:text="${order.getId()}"></td>
        <td th:text="${order.getCustomer().getName()}"></td>
        <td th:text="${order.getSum().toString}"></td>
        <td>
            <form th:method="POST"
                  th:action="@{/order-ship/{id}(id=*{order.getId()})}">
                <button class="btn shadow-lg btn-outline-dark" >Ship order</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>