<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<table sec:authorize="hasRole('ADMIN')" class="table table-hover caption-top w-75" th:align="center"
       xmlns:sec="http://www.w3.org/1999/xhtml">
    <caption style="color: black"><h3>All users</h3></caption>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Full Name</th>
        <th scope="col">Details</th>
        <th scope="col">Change password</th>
    </tr>
    </thead>
    <tbody id="allUsersTable">
    <tr th:each="user : ${users}">
        <td th:text="${users.indexOf(user) + 1}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.fullName}"></td>
        <td><a class="btn shadow-lg btn-outline-dark" th:href="@{/user-detail/{id}(id=*{user.getId()})}">User details</a></td>
        <td><a class="btn shadow-lg btn-outline-dark" th:href="@{/admin/user-password/{id}(id=*{user.getId()})}">Change password</a></td>
    </tr>
    </tbody>
</table>
<table sec:authorize="hasRole('MANAGER')" class="table table-hover caption-top w-50" th:align="center"
       xmlns:sec="http://www.w3.org/1999/xhtml">
    <caption style="color: black"><h3>All users</h3></caption>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Full Name</th>
        <th scope="col">Roles</th>
        <th scope="col">Change</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${users.indexOf(user) + 1}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.fullName}"></td>
        <td th:text="${user.getAllRoles()}"></td>
        <td><a th:unless="${user.getAllRoles().contains('ADMIN')}" class="btn shadow-lg btn-outline-dark" th:href="@{/change-role/{id}(id=*{user.getId()})}">Change role</a></td>
    </tr>
    </tbody>
</table>
</html>