<!doctype html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="col-lg-4 mx-auto">
    <div th:if="${success}" class="alert alert-success w-50 text-center fw-bold" role="alert">
        <h5>Successfully deleted!</h5>
    </div>
</div>

<table sec:authorize="hasRole('TRADER')" class="table table-hover caption-top w-75" th:align="center"
       xmlns:sec="http://www.w3.org/1999/xhtml">
    <caption style="color: black"><h3>All your customers</h3></caption>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">ContactPerson</th>
        <th scope="col">Customer details</th>
        <th scope="col">Add order</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.getId()}"></td>
        <td th:text="${customer.getName()}"></td>
        <td th:text="${customer.getContactPerson()}"></td>
        <td><a class="btn shadow-lg btn-outline-dark" data-toggle="modal" data-target="#deleteCustomerModal">Delete
            customer</a></td>
        <div class="modal fade" id="deleteCustomerModal" tabindex="-1" role="dialog" aria-labelledby="confModal"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog" role="document">
                <form
                        th:method="POST"
                        th:action="@{/customer-delete/{id}(id=*{customer.getId()})}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">DELETE USER</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this customer?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn shadow btn-outline-dark" data-dismiss="modal">Close
                            </button>
                            <button type="submit" value="submit" class="btn shadow btn-outline-dark">Delete customer
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <td><a class="btn shadow-lg btn-outline-dark" th:href="@{/order-add/{id}(id=*{customer.getId()})}">Add order</a>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>