
body {
    background-image: url(/images/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 5rem;
}

h1 {
    font-family: "Londrina Shadow", Serif;
    letter-spacing: 15px;
    text-shadow: 5px 5px 10px #9bb403,
    0 0 1em #9bb403,
    0 0 0.2em #9bb403;
}
h2 {
    font-family: "Londrina Solid", Serif;
    text-shadow: 5px 5px 10px #9bb403,
    0 0 1em #9bb403,
    0 0 0.2em #9bb403;
}

h3 {
    color: black;
    margin-left: 70px;
}

.table {
    margin-top: 70px;
}

@media (min-width: 576px) {
    .w-sm-25 {
        width: 25% !important
    }
}

@media (min-width: 576px) {
    .w-sm-50 {
        width: 50% !important
    }
}

.shadow-lg {
    box-shadow: 5px 5px 10px #146A00 !important;
}

.modal {
    text-align: center;
}

.modal::before {
    content: "";
    display: inline-block;
    height: 100%;
    margin-right: -4px;
    vertical-align: middle;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
