
body {
    background-image: url(/images/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 5rem;
}

h1 {
    font-family: "Londrina Shadow", Serif;
}
h2 {
    font-family: "Londrina Solid", Serif;
}

