
body {
    background-image: url(/images/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 5rem;
}

h1 {
    font-family: "Londrina Shadow", Serif;
    letter-spacing: 15px;
}
h2 {
    font-family: "Londrina Solid", Serif;
}
logo {
    padding-left: 50px;
}
welcome-message {
    font-family: "Playpen Sans", Serif;
}

