<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head::head">
</head>
<body>
<div class="container" th:include="fragments/navbar">
</div>
<h3 sec:authorize="hasAnyRole('TRADER', 'MANAGER', 'OSB')" class="text-center text-white">Change password for:<br>
    <span sec:authentication="name"></span></h3>
<h3 sec:authorize="hasRole('ADMIN')" class="text-center text-white">Change password for:<br>
    <span th:text="${userToChange.getEmail()}"></span></h3>
<div class="container-fluid justify-content-center">
    <form
            th:action="@{/user-password}"
            th:method="POST"
            th:object="${userPassChange}"
            class="col-md-12 my-auto">
        <div class="form-group w-25 p-3 mx-auto">
            <p th:if="${bad_credentials}" class="errors alert alert-danger">
                <strong>Password must be at lest 3 characters long.</strong>
            </p>
            <p th:if="${diff_passwords}" class="errors alert alert-danger">
                <strong>Passwords don't match.</strong>
            </p>
            <p th:if="${good_credentials}" class="alert alert-info" role="alert">
                <strong>Password successfully changed.</strong>
            </p>
            <label for="passwordInput" class="mx-auto fw-bold">Password</label>
            <input th:field="*{password}" type="password" class="form-control" id="passwordInput" placeholder="Password">
        </div>
        <div class="form-group w-25 p-3 mx-auto">
            <label for="confPasswordInput" class="mx-auto fw-bold">Confirm password</label>
            <input th:field="*{confirmPassword}" type="password" class="form-control" id="confPasswordInput" placeholder="Confirm password">
        </div>
        <div class="col w-25 p-3 mx-auto">
            <button type="submit" value="Submit" class="btn btn-outline-light fw-bold">Submit</button>
        </div>
    </form>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
<footer th:include="fragments/footer"/>
</html>